/* article sur l'astuce de Richard Rutter */
/* https://clagnut.com/blog/348/ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* font-size: 10px; */
}

body {
    
}

 h1 {
    font-size: 8vmin;
}

.txt-responsive {
    background-color: rgb(73, 147, 192);
    width: 90%;
    min-height: 200px;
    margin: auto;
}

.pixel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: pink;
}

.child {
    background-color: rgb(91, 140, 237);
    width: 25%;
    height: 25%;
}

.child-2 {
    width: 10vw;
    height: 10vh ;
    background-color: rgb(71, 156, 71);
}
 
 .viewport {
    height:50vh;
    width: 35vw;
    background-color: orange;
 }

 .viewport-min-max {
    width: 25vmin;
    height: 300px;
    background-color: orchid;
 } 

 .size-txt {
    font-size: 20px;
    /* Les em sont relatifs à la taille du texte courant (ici 20px) */
    /* donc width 20em = 20 x 20px */
    width: 20em;
    height: 20em;
    /* Les rem sont relatifs à la taille du texte sur le navigateur (par defaut 16px) */
    padding: 1rem;
    background-color: red;
 }