* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
}

/* CONTAINER */
.container {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: pink;
    transition: width 3s 0.5s, background-color 2s 3s;
}

.container:hover {
    background-color: rgb(81, 126, 233);
    width: 300px;
}

/* LINK */
.link {
    color: #333;
    text-decoration: none;
    transition: 0.2s;
}

.link:hover {
    color: red;
}

/* TRANSITION */
.transition-delay {
    width: 200px;
    height: 300px;
    margin: 50px auto;
    background-color: orange;
    transition: width 1s, height 1s 1s, background-color 1s 2s;
}

.transition-delay:hover {
    width: 500px;
    height: 100px;
    background-color: pink;
}

/* TRANSFORM */
.transition-transform {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: green;
    transition: 1s;
}

.transition-transform:hover {
    /* Propriétés à privilégier pour les transitions et les animations */
    /* opacity: 0; */
    /* scale() permet de zoomer l'element*/
    /* scaleX() pour l'axe des abscisses */
    /* scaleY() pour l'axe des ordonnées */
    transform: scaleX(2);
    /* rotate() pour faire des rotations */
    /* rotateX() pour l'axe des abscisses */
    /* rotateY() pour l'axe des ordonnées */
    transform: rotateX(360deg);
    /* translate() pour déplacer l'élément */
    /* translateX() pour l'axe des abscisses */
    /* translateY() pour l'axe des ordonnées */
    transform: translate(100%, 100%);

    /* On peut cumuler les valeurs de la propriété transform */
    /* transform: scale(2) rotate(-1260deg) ; */
}

/* TRANSFORM */
.rotation {
    width: 50px;
    height: 50px;
    margin: 100px auto;
    background-color: rgb(81, 122, 227);
    transition: width 0.5s, height 0.5s 0.5s, transform 0.5s 1s;
}

.rotation:hover {
    width: 200px;
    height: 100px;
    transform: rotate(720deg);
}

/* CIRCLE */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    transition: 1s;
}

.dad-circle:hover .circle {
    transform: translate(400%);
}

.dad-circle {
    background-color: pink;
}

/* TEXT APPARITION */
.txt-container {
    width: 400px;
    height: 200px;
    margin: 50px auto;
    padding: 1em;
    background-color: beige;
    overflow: hidden;
}

.txt-container p {
    transition: 2s;
    transform: translateY(150%);
    opacity: 0;
}

.txt-container:hover p {
    transform: translateY(0);
    opacity: 1;
}

/* CIRCLE ANIMATION */
.circle-animation {
    animation: moove 2s 2s infinite alternate;
}

@keyframes moove {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(400%);
    }
}
